body {
    font-family: 'Lato', sans-serif;
    color: #404040;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 55px;
}
h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.title {
    margin: 0 50px 0 50px;
    text-align: center;
}
.red {
    color: #ff0000;
    font-size: 47px;
}
.above-main {
    margin: 65px 50px 0 50px;
    text-align: center;
}
.form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    display: inline-block;
}
table {
    margin-left: auto;
    margin-right: auto;
    buffer-top: 50px;
}
.success {
    display: inline-block;
    text-align: justify;
    margin: 25px 50px 25px 50px;
}
a {
    color: #FF0606;
    font-weight: 700;
    text-decoration: none;
}
.username,.topartist {
    padding-bottom:10px;
}
.username a {
    color: #404040;
}
.bottom {
    margin: 100px 50px 0 50px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}