<div>
  <h1>L<span class="red"><i class="fa fa-lastfm"></i></span>t Week</h1>
  <h6>See your friends' favorite artists on one page. </h6>
</div>

<% if logged_in? %>
  <p>Logged in as <%= current_user.name %></p>

  <% if @topartists %>
    <ul>
      <% @topartists.each do |topartists| %>
        <li><%= link_to topartists['full_name'], topartists['html_url'] %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <br>
  <p>
    To start, please <%= link_to "log in via Last.fm", "/auth/lastfm" %>
  </p>
<% end %>

<div class="bottom">
  Powered by the <a href="http://www.last.fm/api">Last.fm API</a>.
</div>

<!-- &cb=http://0.0.0.0:3000/" -->