<div class="title">
  <h1>L<span class="red"><i class="fa fa-lastfm"></i></span>t Week</h1>
  <h5>See your friends' favorite artists on one page.
    <br>Find what you have in common. Be judgy. Discover new music.</h5>
</div>
<div class="above-main">
  <p>
  <div class="form">
    <input id="textbox" type="text" placeholder="Enter your last.fm username here" style="width: 180px;" onkeydown="if(event.keyCode==13)$('#button').trigger('click');"/>
      <span id="button">
          <input type="submit" value="Search" />
      </span>
  </div>
  </p>
</div>
<br>
<table>
  <tr>
    <td class="success">
    </td>
  </tr>
</table>
<div id="error">
</div>
<div class="bottom">
  <br>Powered by the <a href="http://www.last.fm/api">Last.fm API</a>.
</div>

